@charset "utf-8";
.about_us_text {
	width: 270px;
	height: 200px;
	color:#4f4f4f;
	font-family: "Myriad Pro";
	font-size: 14px;
	text-align: center;
	position: absolute;
	z-index: 1;
	margin-top: 426px;
    margin-left: 212px;
    padding:0;
}