@charset "utf-8";
.pink_text {
	color: #ec1651;
    margin-top: 507px;
    margin-left: 485px;
    width: 215px;
    height: 147px;
    padding: 98px 15px 0 15px;
    background-color: #feeaed;
    border-radius: 245px;
    z-index: 3;
	font-size:24px;
}
.round {
    margin-top: 487px;
    margin-left: 466px;
    background-color: rgb(255,255,255);
    border-radius: 210px;
    height: 287px;
    width: 287px;
    position: absolute;
    z-index: 2;
}
.submenu {
	font-size: 18px;
	color: #4f4f4f;
	font-family: Myriad Pro;
	text-align: right;
	position: absolute;
	z-index: 1;
	margin-top: 582px;
    margin-left: 399px;
}
.submenu a {
	color: #4f4f4f;
}
.submenu_item1 {
	height:31px;
	width: 240px;
    padding-right: 32px;
	padding-top:5px;
	background-color: #f3d2da;
	border-bottom-right-radius:18px;
	border-top-right-radius:18px;
	position:absolute;
}
.submenu_item1:hover {
	left:118px;
	background-color: #fff5f5;
	color: #f04e78;
}
.submenu_item2 {
	height:31px;
	width: 249px;
    padding-right:32px;
	padding-top:5px;
	background-color: #f3d2da;
	border-bottom-right-radius:18px;
	border-top-right-radius:18px;
	position:absolute;
	top:39px;
	margin-bottom:3px;
}
.subitem {
	float: left;
	height: 513px;
	width: 260px;
	margin-right: 22px;
	margin-top: 22px;
	margin-bottom: 50px;
}
.subitem_content {
	height: 355px;
    position: relative;
    margin-top: 143px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
	padding: 0 15px 15px 15px;
}
.subitem_content_text div {
	margin-bottom: 5px;
}
.subitem_content_text div img {
	margin-right: 5px;
	margin-bottom: 3px;
}


.subitem_round {
	height: 260px;
	width: 260px;
	background-color: #feeaed;
    border-radius: 245px;
	position: absolute;
	z-index: 1;
}
.subitem_image {
	height: 206px;
	width: 206px;
	position: absolute;
	z-index: 2;
	margin-top: 27px;
	margin-left: 27px;
    border-radius: 100px;
    overflow: hidden;
}
.subitem_content_header {
	font-size: 28px;
	padding-top: 131px;
	color: #4f4f4f;
	font-family: Myriad Pro;
	text-align:center;
}
.subitem_content_text {
	margin-top: 25px;
	font-size: 20px;
	color: rgb(153,153,153);
	font-family: Myriad Pro;
}
.submenu_item2:hover {
	left:137px;
	background-color: #fff5f5;
	color: #f04e78;
}
.submenu_item3 {
	height:31px;
	width: 243px;
    padding-right:32px;
	padding-top:5px;
	background-color: #f3d2da;
	border-bottom-right-radius:18px;
	border-top-right-radius:18px;
	position:absolute;
	top:78px;
	margin-bottom:3px;
}
.submenu_item3:hover {
	left:203px;
	background-color: #fff5f5;
	color: #f04e78;
}
.submenu_item4 {
	height:31px;
	width: 225px;
    padding-right:32px;
	padding-top:5px;
	background-color: #f3d2da;
	border-bottom-right-radius:18px;
	border-top-right-radius:18px;
	position:absolute;
	top:117px;
	margin-bottom:3px;
}
.submenu_item4:hover {
	left:207px;
	background-color: #fff5f5;
	color: #f04e78;
}

.second {
    margin-top: 540px;
    margin-left: 515px;
}


.item_path {
    margin-top: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 6px 6px 6px 38px;
    font-size: 26px;
    color: #ec1651;
}


.item_container {
    margin: 30px 0 0 0;
    padding: 20px 30px 0px 40px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
}



.subitem_single_image {
    float: left;
    overflow: hidden;
    padding: 13px 65px 14px 10px;
}

.item_image_wrapper {
    padding: 20px;
    background: #feeaed;
    border-radius: 50%;
}

.sub_item_image_back {
    background: #feeaed;
    border-radius: 50%;
    overflow: hidden;
}

.item_header {
    font-size: 26px;
    color:#5f5f5f;
    float: none;
    text-align: center;
    font-family: "Arian Amu";
}


.button_from {
    cursor: pointer;
    color:#fff;
    background-color: #D12A5D;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D12A5D), to(#E64979));
    background: -moz-linear-gradient(top, #D12A5D 0%, #E64979 100%);
    float: right;
    margin: 5px 30px 20px 0px;
    padding: 8px 23px 8px 25px;
    font-size: 20px;

}

.button_from:hover {
    background-color: #F76C96;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DE2A61), to(#F76C96));
    background: -moz-linear-gradient(top, #DE2A61 0%, #F76C96 100%);
}

.pointer {
    margin-right: 7px;
    background-image: url("images/pointer.png");
    width: 18px;
    height: 24px;
    float: left;
}

.line {
    border-bottom: 1px dashed #ccc;
    margin-top: 30px;
    margin-bottom:30px;
}

.also_like_header {

    color: #f3d2da;
    padding-left: 100px;
    font-size: 28px;
}

.item_cont {
    margin: 0 auto;
    padding: 15px 0px 0px 80px;
    width: 100%;
}





























